{% extends 'layouts/base.html' %}
{% block content %}
  {% include 'partials/navbar.html' %}
  <div class="d-flex flex-row align-items-end justify-content-center flex-wrap-reverse gap-3 pt-3 pb-3" style="min-height: 100vh;">
    <div class="d-flex flex-column align-items-center gap-3">
      {% for story in stories %}
        <div class="card bg-white d-flex flex-row align-items-center justify-content-between" style="width: 100%; min-width: 400px; max-width: 650px; border-radius: 10px; padding: 1rem;">
          <div class="d-flex flex-column align-items-start">
            <a href="{{ url_for('stories.show', id=story.id) }}" class="text-decoration-none link-dark"><h1 class="h4 align-self-start">{{ story.title }}</h1></a>
            <p class="mb-0 text-align-left align-self-start">{{ story.text }}</p>
            <p >Source: <a href="{{ story.url }}" class="text-decoration-none link-dark">{{ story.source }}</a></p>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <form action="{{ url_for('stories.vote', id=story.id) }}" method="POST" class="mb-0">
              <button type="submit" class="pb-1 mb-0" style="background-color: #DFDFDF; border-radius: 50%; border: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="{% if current_user not in story.ratings %}#FFFFFF{% else %}#23C9A9{% endif %}" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
              </button>
            </form>
            <p class="fw-bold mt-0">{{ story.ratings | length }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-column align-items-center gap-4">
      <div class="card bg-white d-flex flex-column align-items-center gap-1" style="width: 100%; min-width: 350px; max-width: 350px; border-radius: 10px; padding: 1rem;">
        <a href="{{ url_for('users.show', id=user.id) }}"><img src="https://robohash.org/{{ user.email }}" height="100px" style="border-radius: 50%; border: 3px solid #23C9A9;"></a>
        <a href="{{ url_for('users.show', id=user.id) }}" class="text-decoration-none link-dark fw-bold mb-0">{{ user.given_name }}{{ user.family_name }}</a>
        <p class="p mb-0">{{ user.position }} at <strong>{{ user.company }}</strong></p>
        <p class="p mb-0">{{ user.bio }}</p>
        {% if user == current_user %}
          <a href="{{ url_for('users.edit', id=user.id) }}" class="btn btn-primary w-100 text-white">Edit</a>
        {% endif %}
        </div>
    </div>
  </div>
{% endblock %}
