@import "node_modules/bootstrap/scss/functions";

$body-bg: #FFEDE980;
$body-color: #684B52;
$input-border-color: #684B52;
$primary: #23C9A9;

@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/forms";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/mixins/alert";

@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/transitions";

@import "node_modules/bootstrap/scss/utilities/api";

body, html {
  width: 100vw;
}
